// Main Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;

// Colors
$blue: #0a327b;
$red: #F36663;
$very-dark-grey-blue: #1c202b;
$dark-grey-blue: #5e6778;
$grey-blue: #939cad;
$light-grey-blue: #e5effa;
$very-light-grey-blue: #dde7ee;
$snow: #f7fafd;
$white: #ffffff;
