@use "./../01-abstracts/" as *;

body {
  background-color: $snow;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  transition: ease 0.2s;
  &:hover {
    color: $blue;
  }
  &:active {
    position: relative;
    top: 2px;
  }
}
