@use "./../01-abstracts/" as *;

.notifications {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include breakpoint($md-lg) {
    gap: 8px;
  }
}

.notification {
  display: flex;
  gap: 13px;
  border-radius: 8px;
  padding: 16px;
  font-size: rem(14px);
  line-height: rem(18px);
  @include breakpoint($md-lg) {
    font-size: rem(16px);
    line-height: rem(20px);
    gap: 19px;
  }

  &__avatar {
    max-width: 39px;
    height: fit-content;
    border-radius: 100%;
    @include breakpoint($md-lg) {
      max-width: 45px;
    }
  }

  &__text {
    margin-bottom: 3px;
  }

  &__user {
    color: $very-dark-grey-blue;
    font-weight: 800;
  }

  &__post {
    font-weight: 800;
    margin-left: 7px;
  }

  &__date {
    color: $grey-blue;
    margin-bottom: 12px;
    display: block;
  }

  &__msg {
    display: block;
    border: solid 1px $very-light-grey-blue;
    border-radius: 5px;
    padding: 16px;
    &:hover {
      background-color: $very-light-grey-blue;
    color: $dark-grey-blue;
    }
  }

  &__img {
    max-width: 39px;
    border-radius: 7px;
    align-self: flex-start;
    margin-left: auto;
    @include breakpoint($md-lg) {
      max-width: 45px;
    }
  }

  &--unread {
    background-color: $snow;
  }
  &--unread &__text::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: $red;
    border-radius: 100%;
    margin-left: 6px;
    vertical-align: middle;
  }
}
